<!-- Upper Nav -->
<nav>
  <div class="nav-wrapper navbar-fixed">
    <a href="#" class="brand-logo center title-font">TodoList</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <!-- Modal Trigger -->
        <a class="addTodo waves-effect waves-light btn modal-trigger" href="#modal1">Add Todo</a>
      </li>
      <li>
        <form class="form-inline" method="POST" action="/logout">
          <button class="btn btn-flat m-r-20" id="logout" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<!-- Side Nav -->
<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background">
      </div>
      <a href="#user">
        <% if (user.avatar_url) { %>
        <img class="circle" src="<%= user.avatar_url %>">
        <% } else { %>
        <i class="large material-icons">account_circle</i>
        <% } %>
      </a>
      <h6 class="name"><%= user.name %></h6>
      <h6 class="email"><%= user.email %></h6>
    </div>
  </li>
  <ul>
    <li class="today-todos white sidenav-item">
      <i class="material-icons">alarm</i>
      <span class="label-category">Today</span>
      <span class="counter today"></span></div>
    </li>
    <li class="weekly-todos white sidenav-item">
      <i class="material-icons">insert_invitation</i>
      <span class="label-category">Next 7 days </span>
      <span class="counter week"></span>
    </li>
  </ul>
  <li>
    <div class="divider"></div>
  </li>
  <ul>
    <li class="sidenav-subheader"><h6>Categories</h6></li>
    <li class="watch-todos white sidenav-item">
      <i class="material-icons">local_movies</i>
      <span class="label-category">Watch</span>
      <span class="counter to_watch"></span>
    </li>
    <li class="buy-todos white sidenav-item">
      <i class="material-icons">attach_money</i>
      <span class="label-category">Buy</span>
      <span class="counter to_buy"></span>
    </li>
    <li class="read-todos white sidenav-item">
      <i class="material-icons">library_books</i>
      <span class="label-category">Read</span>
      <span class="counter to_read"></span>
    </li>
    <li class="eat-todos white sidenav-item">
      <i class="material-icons">local_dining</i>
      <span class="label-category">Eat</span>
      <span class="counter to_eat"></span>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li class="sidenav-subheader"><h6>Completed Todos</h6></li>
    <li class="completed-todos white sidenav-item">
        <i class="material-icons">check</i>
        <span class="label-category">Completed</span>
        <span class="counter to_completed"></span>
      </li>
  </ul>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="row">
      <form class="col s12 todo-form">
        <div class="row">
          <div class="input-field col s6">
            <input required name="title" id="todo_title" type="text" class="validate">
            <label for="todo_title">Title</label>
            <span class="helper-text" data-error="You need to fill this field" data-success="right">You need to fill
              this field</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="todo_description" name="description" type="text" class="validate">
            <label for="todo_description">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="todo_start_date" name="start_date" type="text" class="datepicker">
            <label for="todo_start_date">Start Date</label>
          </div>
          <div class="input-field col s6">
            <input id="end_date" name="end_date" type="text" class="datepicker">
            <label for="end_date">End Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select name="category_id" id="category_selection">
              <option value="1">Movie</option>
              <option value="2">Product</option>
              <option value="3">Book</option>
              <option value="4" selected>Food</option>
            </select>
          </div>
          <div class="input-field col s6">
            <select name="priority">
              <option value="1">High</option>
              <option value="2">Medium</option>
              <option value="3">Low</option>
              <option value="4" selected>Non-priority</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a class=" create-todo modal-close waves-effect waves-green btn-flat">Create todo</a>
    </div>
  </div>
</div>
