// See: https://sass-lang.com/
nav {
  z-index: 3;
  position: fixed;
  .nav-wrapper {
    .brand-logo {
      font-size: 3em;
      margin-left: 8vw;
    }
  }
}
.title-font {
  font-family: Baloo;
}
body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
  main {
    padding-top: 50px;
    padding-left: 300px;
  }
  .sidenav {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    .counter {
      color: #353535;
      font-weight: 100;
      padding-left: 5px;
      vertical-align: super;
    }
    .sidenav-item {
      padding-left: 20px;
      cursor: pointer;
      &:hover {
        background-color: #e8e8e8 !important;
      }
      .material-icons {
        display: inline-block;
      }
      .label-category {
        display: inline-block;
        vertical-align: super;
      }
    }
    .sidenav-subheader {
      padding-left: 25px;

    }
  }
  .login-form-container {
    max-width: 510px;
    margin: auto;
    padding: 35px 10px;
    margin-top: 40px;
  }
  .logout-form-container {
    max-width: 800px;
    margin: auto;
    padding: 24px 32px;
    margin-top: 40px;
  }
  .collapsible span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }

}
.margin-auto {
  margin: auto;
}

div .btn.btn-flat {
  background-color: transparent;
}

div .btn {
  background-color: #8c9eff;
}

div .btn:hover, div .btn-large:hover, div .btn-small:hover  {
  background-color: #8c9eff;
}

div .oneLine, div .secondLine {
  margin-bottom: 0;
  margin-bottom: 0;
}
.collapsible.more-info-collapsible{
  box-shadow: none;
  border: none;
}
div .collapsible-header{
  background-color: transparent;
}
.carousel-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  .preloader-wrapper {
    display: none;
    position: absolute;
    left: 45%;
    top: 40%;
    z-index: 4;
  }
  // overflow: hidden;
  // height: 700px;
  // position: sticky;
  // top: 3px;
  // .preloader-wrapper {
  //   display: none;
  //   margin-top: 30vh;
  //   margin-left: 15vw;
  // }
  .carousel {
    overflow: visible;
  //   width: 100%;
  //   height: 400px;
  //   overflow: visible;
  //   .card.food .card-image {
  //     height: 300px;
  //     overflow: hidden;
  //     img {
  //       height: 300px;
  //       width: 100%;
  //     }
  //   }
  //   .card.movie {
  //     width: 300px;
  //     .card-image {
  //       width: 300px;
  //       overflow: hidden;
  //       img {
  //         width: 300px;
  //       }
  //     }
  //   }
  }
}
.todo {
  margin-bottom: 30px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  .todo-header {
    padding-right: 100px;
    padding-left: 30px;
    position: relative;
    label {
      position: absolute;
      left: 0;
      top: 1px;
    }
    h5 {
      margin: 0;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
    }
    .todo-header-buttons {
      position: absolute;
      right: 0;
      top: -5px;
      a {
        padding: 0px 4px;
      }
    }

  }
  .collapsible.more-info-collapsible{
    box-shadow: none;
    border: none;
    .collapsible-header {
      position: relative;
      padding: 0px 0px;
      .more-info {
        position: absolute;
        right: 0;
      }
    }
    .collapsible-body {
      padding: 10px 0px;
    }
  }
}

div .email, div .name {
  font-size: 16px;
  color: #8c9eff;
}

#1 {
  background-color: white;
}
// helpers for padding and margin https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
